
$main_color: #0EC261;
$main_black: #121212;
$gray_dark: #999999;
$gray_light: #EEEEEE;
$order_color: #151B1F;

.overlay {
    background: rgba(0,0,0, 0.45);
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    &.active{
        opacity: 1;
        pointer-events: all;
    }
}

.map__input {
    border: none;
    height: 15px;
    width: 200px;
    border-bottom: $gray_dark 1px solid;
    margin: 0 0 13px 8px ;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 10px 0;
}

.map__input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.changeCity {
    width: 350px;
    height: 80px;
    background-color: white;
    padding: 50px 0 0 25px;

    & .svg {
        width: 15px;
        height: 15px;
        position: relative;
        top: 25px;
        left: 190px;
        font-size: 20px;
        display: none;

        &.active {
            display:inline-block;
        }
    }

    & input:valid ~ svg {
        display: block;
    }

    & path {
        fill: black;
        stroke: black;
    }
}