@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-top: 134px;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: calc(100vh - 134px);
}

.left {
  width: 61.5vw;
  margin-left: 64px;
  padding-left: 64px;
}

.active {
  color: #0EC261;
}

.inputs {
  margin-top: 32px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputs__city {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs__city .svg {
  width: 15px;
  height: 15px;
  position: relative;
  top: 12px;
  right: 20px;
  font-size: 20px;
  display: none;
}

.inputs__city .svg.active {
  display: inline-block;
}

.inputs__city path {
  fill: black;
  stroke: black;
}

.inputs__city label {
  text-align: end;
}

.inputs__point {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs__point .svg {
  width: 15px;
  height: 15px;
  position: relative;
  top: 12px;
  right: 20px;
  font-size: 20px;
  display: none;
}

.inputs__point .svg.active {
  display: inline-block;
}

.inputs__point path {
  fill: black;
  stroke: black;
}

.inputs label {
  font-size: 14px;
  font-weight: 100;
  width: 91px;
  margin-right: 13px;
  margin-top: 12px;
}

.input {
  border: none;
  height: 15px;
  border-bottom: #999999 1px solid;
  margin: 0 0 13px 8px;
  font-size: 14px;
  font-weight: 300;
}

.map {
  margin-top: 45px;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

.map__yandex {
  margin-top: 16px;
}

.border {
  border-left: #EEEEEE 1px solid;
}

.arrowWrapp {
  display: none;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  width: 290px;
  padding-right: 64px;
  padding-left: 32px;
  padding-top: 32px;
}

.order__wrapp {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.order__head {
  font-size: 18px;
  text-align: end;
}

.order__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  margin-top: 26px;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 0.1em dotted #999999;
}

.order__point:after {
  content: '';
  display: table;
  clear: both;
}

.order__pricename {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.order__pricename p {
  margin: 0;
  margin-left: 5px;
  font-weight: normal;
}

.order__button {
  width: 290px;
  height: 50px;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  border-radius: 5px;
  background: #EEEEEE;
  font-size: 18px;
  font-weight: 500;
  pointer-events: none;
  cursor: default;
}

.order__button.active {
  background: -webkit-gradient(linear, left top, right top, from(#0EC261), to(#039F67));
  background: linear-gradient(90deg, #0EC261, #039F67);
  pointer-events: auto;
}

.order__button.active:hover {
  background: -webkit-gradient(linear, left top, right top, from(#0B934A), to(#026E47));
  background: linear-gradient(90deg, #0B934A, #026E47);
  cursor: pointer;
}

.order__button.active:active {
  background: -webkit-gradient(linear, left top, right top, from(#076432), to(#013C27));
  background: linear-gradient(90deg, #076432, #013C27);
}

.point__name {
  font-size: 14px;
  font-weight: 300;
  float: left;
  margin-bottom: -.31em;
  background: #FFF;
}

.point__address {
  font-size: 14px;
  font-weight: 300;
  color: #999999;
  float: right;
  margin-bottom: -.31em;
  background: #FFF;
  margin-left: auto;
}

@media (min-width: 1632px) {
  .main {
    width: 1440px;
    margin: 0 auto;
  }
  .left {
    margin-left: 0;
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .order {
    width: 180px;
  }
  .order__button {
    width: 180px;
  }
  .order__pricename {
    font-size: 14px;
  }
  .point__border {
    display: none;
  }
}

@media (max-width: 767px) {
  .steps {
    padding-left: 32px;
  }
  .left {
    padding-left: 32px;
  }
  .order {
    width: 150px;
  }
  .order__button {
    width: 145px;
    font-size: 14px;
  }
  .order__pricename {
    font-size: 12px;
  }
  .inputs {
    width: 150px;
  }
  .inputs__city {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin-left: 0;
  }
  .inputs__city label {
    text-align: start;
  }
  .inputs__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin-left: 0;
  }
}

@media (max-width: 539px) {
  .steps {
    padding-left: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .steps div {
    margin: 0;
  }
  .step {
    font-weight: medium;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    padding-left: 16px;
    margin-left: 0;
    width: 95%;
  }
  .inputs {
    margin-top: 16px;
  }
  .inputs__city label {
    text-align: start;
  }
  .map {
    margin-top: 10px;
  }
  .arrowWrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2.5em;
    height: 1.25em;
    /* высота в два раза меньше ширины, иначе получится полуовал */
    border: 2px solid #151B1F;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-color: #151B1F;
    position: fixed;
    z-index: 2;
    left: 45%;
    bottom: 13%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }
  .arrowWrapp.open {
    bottom: 81%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }
  .arrowWrapp.open svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .arrowWrapp svg {
    margin: 1px 10px;
    fill: white;
  }
  .order {
    position: fixed;
    bottom: 0;
    background: #151B1F;
    width: 81vw;
    margin-left: 0;
    padding-top: 8px;
    height: 12%;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }
  .order.open {
    height: 80%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
  }
  .order__desc {
    margin-left: 0;
    width: 100%;
  }
  .order__head {
    text-align: start;
  }
  .order__point {
    display: none;
    margin-top: 0;
  }
  .order__point.openDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order__pricename {
    display: none;
    margin-top: 16px;
  }
  .order__pricename.openDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order__button {
    margin-top: 8px;
    height: 40px;
  }
  .point__name {
    background: #151B1F;
  }
  .point__address {
    background: #151B1F;
    width: 60px;
  }
}
/*# sourceMappingURL=Location.module.css.map */